@model Adodotnet.Models.Customer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm("NewCustomer", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <th>CustomerDetails</th>

            </tr>
            <tr>
                <td>CustomerID:</td>
                <td>@Html.TextBoxFor(m => m.CustomerID)</td>
            </tr>
            <tr>
                <td>CustomerName</td>
                <td>@Html.TextBoxFor(m => m.CustomerName)</td>
            </tr>
            <tr>
                <td>EMailID:</td>
                <td>@Html.TextBoxFor(m => m.EmailID)</td>
            </tr>
            <tr>
                <td>MobileNo:</td>
                <td>@Html.TextBoxFor(m => m.MobileNo)</td>
            </tr>
    
            <tr>
               
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>}
</body>
</html>